/***********************************************************************************************************************/
/***********************************************************************************************************************
	    file:  style.css
	contents:  Job market website based on Bruno Salcedo's template.
	  author:  Berk Idem
	    date:  July 2021
	 version:  1.1
***********************************************************************************************************************/
/***********************************************************************************************************************/
/* Legend for the bottom of the page*/
#contents:after{content: "Department of Economics, Penn State "}
/***********************************************************************************************************************/
/**************************************************************** font *************************************************/
/* To change the font go to google.com/fonts and follow the instructions*/
body{ font-family: 'Lato', sans-serif; font-weight: 500;} /* Body*/
h1 {font-weight: 700;} /* Title */
/***********************************************************************************************************************/
/************************************************************** color ***************************************************/
/* 3 color scheme: #777 (grey) for links and menu, #68a for links, tomato for highlights*/




html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;


  background-color: #eee8d5;
  color: #657b83;
  margin: 1em;
}
body {
  background-color: #fdf6e3;
  margin: 0 auto;
  max-width: 23cm;
  border: 1pt solid #93a1a1;
  padding: 1em;
}
ddmenu,
a {
  color: #6c71c4;
}
a:visited {
  color: #6c71c4;
}
a:hover {
  color: #dc322f;
}
h1 {
  color: #268bd2;
}

h2,
h3,
h4,
h5,
h6 {
  color: #2aa198;
}



head {
  background-color: #eee8d5;
}

<!--not sure -->


a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
